
.divOverflow-categorias{
    width: 70vw;
    height: 90vh;
    margin: 5% auto;
    padding: auto;
    z-index: 999;
    background-color: #1a1a1aee;
    box-shadow: 12px 12px 12px #1a1a1abe;
    border-radius: 10px;
}

.content-list-categoria {
    display: flex;
    flex-direction: column;
}

.ul-categoria1, .ul-categoria2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}
.content-list-categoria{
    height: 100%;
}

.ul-categoria li{
    color: white;
}

.li-categoria{
    width: 30%;
    margin: auto;
}

.content-list-categoria, .ul-categoria1, .ul-categoria2, .li-categoria{
    list-style: none;
}

.img-categoria{
    width: 100%;
    height: 10%;
}
.img-categoria img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.856);
}