.nav-menu-active, .nav-menu{
    background: linear-gradient(135deg, #4b6cb7 0%, #182848 100%);
    width: 14vw;
    height: 120vh;
    position: absolute;
    display: flex;
}

.nav-menu{
    position: fixed;
    left: -100%;
    transition: 1000ms;
    z-index: 999;
}

.nav-menu-active{
    left: 0;
    transition: 800ms;
    z-index: 999;
}

.side-list{
    list-style: none;
    padding: 0;
}

.side-item{
    text-decoration: none;
    flex-direction: column;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    margin: auto 20px auto 16px;
}

.side-item a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 5px;
}

.side-item a:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 500ms
}
.nav-content{
    background: linear-gradient(45deg, #4b6cb7 0%, #182848 100%);
    height: 10vh;
    width: 100vw;;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
}

.menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.menu-bars:hover{
    cursor: pointer;
}
.Image{
    display: flex;
    margin: 0 auto;
}

.Image img{
    width: 130px;
    height: 36px;
}
